body {
	padding-top: 50px;
}

body, p, div, table, td {
    font-family: "Microsoft YaHei", Helvetica, arial, sans-serif;
    font-size: 13px;
}

/** Media Queries **/
@media(min-width: 1280px) {
	.container {
	    max-width: 1150px;
	}
}

/** Media Queries **/
@media(min-width: 1024px) and (max-width: 1280px) {
	.container {
	  	max-width: 970px;
	}
}

@media(max-width:768px) {
	.navbar {
		z-index: 100;
	}
}

.navbar {
	position: fixed;
	z-index: 60;
	border-radius: 0;
	border: 0;
	top: 0;
	width: 100%;
	background-color: #001D2B;
	box-shadow: 0 0 5px #000;
	font-size: 14px;
}

.navbar-brand {
	margin-left: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #cccccc;
}

.navbar-nav {
    font-size: 14px;
}

.navbar-right {
    font-size: 15px;
}

.navbar-default .navbar-brand:link, .navbar-default .navbar-brand:visited {
    color: #F16408;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .status:hover, .status:focus {
    color: #F12908;
}

.navbar-default .navbar-nav>li>a:link, .navbar-default .navbar-nav>li>a:visited, .status>a:link, .status>a:visited {
    color: #cccccc;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .status>a:hover, .status>a:focus {
    text-decoration: none;
    color: #ffffff;
}

.footermenu p {
    text-align: center;
    font-size: 12px;
}
